* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
  font-size: 28px;
}

a, li, div, h1, h2, h3, h4, h5, h6, p, em, strong, img{
  background-color: inherit;
}

#container {
  display: flex;
  flex-direction: column;
  width: min(70%, 20em);
}

.display {
  justify-content: right;
  text-align: right;
  height: 2rem;
  width: 100%;
  padding: 0px 40px;
  font-size: 1.6rem;
  border-style: solid;
  border-color: #222;
  font-family: 'Courier New', Courier, monospace;
  background-color: aquamarine;
}

.all-button-container {
  width: 100%;
  height: min(70vw, 20em);
  background-color: #811;
  padding: auto;
  border-style: solid;
  border-color: #222;
  display: grid;
  align-items: center;
  justify-items: center;
}

.inner-top-container {
  display: flex;
}

.inner-bottom-container {
  display: flex;
  flex-direction: row-reverse;
}

.right-operators {
  display: flex;
  flex-direction: column;
}

.number-pad {
  display: grid;
  background-color: #194;
  border-radius: 5px;
  padding: 0;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
        "clear divide multiply subtract"
        "seven eight nine add"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
}

.btn0 {
  /*min-width: 80px;*/
  grid-area: zero;
}
.btn1 {
  grid-area: one;
}
.btn2 {
  grid-area: two;
}
.btn3 {
  grid-area: three;
}
.btn4 {
  grid-area: four;
}
.btn5 {
  grid-area: five;
}
.btn6 {
  grid-area: six;
}
.btn7 {
  grid-area: seven;
}
.btn8 {
  grid-area: eight;
}
.btn9 {
  grid-area: nine;
}
.clear {
  grid-area: clear;
}
.divide {
  grid-area: divide;
}
.multiply {
  grid-area: multiply;
}
.subtract {
  grid-area: subtract;
}
.add {
  grid-area: add;
}
.equals {
  grid-area: equals;
}
.decimal {
  grid-area: decimal;
}

button {
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 1.4rem;
  font-weight: 800;
  border-style: solid;
  border-color: #222;
  border-width: 3px;
  border-radius: 5px;
}

.number-btn {
  background-color: #2c8;
}

.operator-btn {
  background-color: #c44;
  height: 100%;
}

body {
  align-items: center;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-content: center;
  text-align: center;
  justify-content: center; 
  min-height: 40px;
  padding: 12px 12px;
  background-color: #ccc;
}

.clear {
  color: #f44;
  border-color: #400;
  background-color: #111;
}
